---
import Layout from "../layouts/Layout.astro";
import { Dashboard as DashboardComponent } from "../components/dashboard/Dashboard";
import Navbar from "../components/navigation/Navbar.astro";
---

<Layout title="Dashboard">
  <Navbar />
  <main class="pt-4">
    <DashboardComponent client:load />
  </main>
</Layout>
